<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="/products"></ion-back-button>
    </ion-button>
    <ion-title>Add a product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-content>
      <form>

        <ion-list>

          <ion-item>
            <ion-label position="floating">Product</ion-label>
            <ion-input required type="text" [(ngModel)]="title" name="title"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea required type="text" [(ngModel)]="description" name="description" rows="2" cols="20"></ion-textarea>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Price</ion-label>
            <ion-input required type="number" [(ngModel)]="price" name="price"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Quantity</ion-label>
            <ion-input required type="number" [(ngModel)]="quantity" name="quantity"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>In Inventory Since</ion-label>
            <ion-datetime required [(ngModel)]="InInventorySince" name="InInventorySince" displayFormat="D MMM YYYY HH:mm" pickerFormat="D MMM YYYY HH:mm"></ion-datetime>
          </ion-item>

          <ion-button expand="block" shape="round" (click)=addProduct()>Save</ion-button>

        </ion-list>

      </form>
    </ion-card-content>

  </ion-card>

</ion-content>
