<ion-header>
  <ion-toolbar>
    <ion-title>Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngFor="let product of products">
    <ion-card-header style="text-align: center;">
      <ion-card-title>{{product.title}}</ion-card-title>
      <ion-card-subtitle>{{product.InInventorySince}}</ion-card-subtitle>
    </ion-card-header>

    <ion-content>
      <ion-item-sliding>
        <ion-item>
          <ion-label>{{product.description}}</ion-label>
        </ion-item>
      
        <ion-item-options side="end">
          <ion-item-option color='danger'>
            DELETE
          </ion-item-option>
          <ion-item-option color='warning'>
            EDIT
          </ion-item-option>
          <ion-item-option color='success'>
            DONE
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-content> 
  </ion-card>
</ion-content>
